html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='static/css/flat-ui.css', rel='stylesheet')
    link(href='static/css/style.css', rel='stylesheet')
    link(href='static/css/style.complete.css', rel='stylesheet')
    script(type='text/javascript', src='static/js/application.js')
    script(type='text/javascript', src='static/js/jquery-1.8.3.min.js')
  body
    #page.page
      section#content-1-4.content-block-nopad.content-1-4
        .row
          .col-md-8.col-sm-8.content
             img(src='#{imageSrc}',height='400', width='600')
        .container
          .row
            .col-md-10.col-sm-8.content
              .editContent
                h3 The generated random string is:
                #{randomNum}
              .row.pad45
                .col-sm-6
                  .editContent
                    h5 Random String Service Data
                  .editContent
                    if serviceInfo[1]
                      ul
                        li #{serviceInfo[0].address}
                        li #{serviceInfo[0].port}
                .col-sm-6
                  .editContent
                    h5 Icon Service Data
                  .editContent
                    if serviceInfo[1]
                      ul
                        li #{serviceInfo[1].address}
                        li #{serviceInfo[1].port}


